.country {
  border: 2px solid gray;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 320px;
}
.flag-img {
  width: 320px;
  height: 190px;
  object-fit: cover;
  border-radius: 6px;
}
.vist{
  background-color: rgb(114, 138, 114);
  color: rgb(255, 255, 255);
}
